body {
    /*background-color: #e9e9e9;*/
}

a{
    text-decoration:none;
}
.topbar {
    background-image: linear-gradient(261deg, #616162, #434343);
    font-size:13px;
}
.pgheadLeft{

}
.pgheadLeft img{

}
    .pgheadLeft h2 {
        font-size: 21px;
        margin: 0;
    }
    .pgheadLeft h1 {
        font-size: 24px;
        font-weight: 700;
    }
    .pgheadLeft h4 {
        font-size: 15px;
        color: #585757;
    }
    .pgheadLeft h6 {
        color: #585757;
        font-size: 14px;
    }
.rghtLogo img{
    height:90px;
}
header {
    background-image: linear-gradient(261deg, #fafafa, #dadada);
}
.navbar-nav li {
    border-left: 1px solid #d0d0d0;
}
    .navbar-nav li .nav-link {
        font-weight: 600;
        font-size: 15px;
        color: #5f5f5f;
    }
    .navbar-nav li:first-child {
        border-left: none;
    }
footer {
    background-image: linear-gradient(261deg, #616162, #434343);
}
.stats img{
    height:58px;
}
.stats span {
    font-size: 23px;
}
.stats h6{

}
.contentArea{
    min-height:80vh;
}
.testimonial-box {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 1px 2px 7px #00000029;
    margin: 20px;
}
    .testimonial-box i {
        color: #ffc107;
    }
    .testimonial-box p {
        font-style: italic;
        margin-top: 13px;
    }
    .testimonial-box h4 {
        font-size: 19px;
        margin-top: 20px;
    }
    .testimonial-box h6 {
        color: #a7a6a6;
    }
.testiImg {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
    .testiImg img{

    }
.dstrH{
    position:relative;
    font-size:42px;
}
.dstrH::before {
    content:'';
}
    .dstrH span{

    }
        .dstrH span.fw-bolder{

        }
.linkbg{
    background:url(../img/5104.jpg) no-repeat center center ;
    background-size:cover;
}
.rightLinks {
}
    .rightLinks img {
        height: 60px;
        margin-right: 10px;
    }
    .rightLinks h4 {
        font-size: 17px;
        font-weight: bold;
    }
    .rightLinks ul {
        margin: 0;
        padding: 0;
    }
        .rightLinks ul li {
            display: inline-flex;
            width: 48%;
            margin-bottom: 4px;
        }
            .rightLinks ul li a {
                color: #000;
                text-decoration: underline;
                font-size: 14px;
            }

    @media(max-width:768px) {
        .pgheadLeft h2 {
        font-size: 12px;
}

    .pgheadLeft h1 {
        font-size: 15px;
    }

    .pgheadLeft h4 {
        font-size: 12px;
    }

    .pgheadLeft h6 {
        font-size: 12px;
    }
}
@media(max-width:576px) {
}
